{% load static %}
{% load humanize %}
{% load unicorn %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images/logoMSHPCMU.svg' %}">
    <!-- Page Title  -->
    <title>EPIDEMIE Tracker & Dashboard</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css">
    <style>
        #map {
            width: 100%;
            height: 600px;
        }
    </style>
</head>

<body class="nk-body npc-covid has-sidebar has-sidebar-short ui-clean ui-rounder">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main bg-gray-100">
            <!-- sidebar @s -->
           
             <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                <div class="nk-header nk-header-fluid nk-header-fixed nk-header-onlymobile is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-header-brand">
                                <a href="#" class="logo-link">
                                    <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
                                    <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                                </a>
                            </div>
                            <div class="nk-menu-trigger ml-auto mr-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main header @e -->
              {% include 'global/layouts/navhead.html' %}
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-body">
                            <div class="nk-block-head">
                                <div class=" ">
                                    <div class="">
                                        <h5 class="nk-block-title" style="text-align: center"><span class="mr-20"><img class="flex mr-5" src="{% static 'images/logoMSHPCMU.svg' %}" width="50"> </span> {{ epidemie.nom }} Tracker & Dashboard <img class="flex ml-5" src="{% static 'images/logoCI.png' %}" width="50"></h5>
                                    </div>
                                    <div class="nk-block-head-content">
                                        
                                        <p class="note-text">Derniere mise  a jours : {{ last_update }}</p>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="row g-gs">
                                    <div class="col-xl-4">
                                        <div class="row g-gs">
                                            <div class="col-lg-6 col-xl-12">
                                                <div class="card card-bordered card-full">
                                                    <div class="card-inner">
                                                        <div class="nk-cov-wg1">
                                                            <div class="card-title">
                                                                <h5 class="title">Taux d'evolution - <small>Côte d'Ivoire</small></h5>
                                                            </div>
                                                            <div class="nk-cov-data">
                                                                <h6 class="overline-title">Total des cas confirmés</h6>
                                                                <div class="amount">{{ total_cas_positif }} / {{ total_cas_suspects }}</div>
                                                            </div>
                                                            <div class="nk-cov-wg1-progress">
                                                                <div class="progress progress-reverse progress-md progress-pill progress-bordered">
                                                                    <div class="progress-bar bg-dark" data-progress="{{ pourcentage_decedes_positifs|floatformat:0 }}" data-toggle="tooltip" title="Décédés : {{ pourcentage_decedes_positifs|floatformat:0 }}%"></div>
                                                                    <div class="progress-bar bg-success" data-progress="{{ pourcentage_gueris_positifs|floatformat:0  }}" data-toggle="tooltip" title="Gueris : {{ pourcentage_gueris_positifs|floatformat:0  }}%"></div>
                                                                    <div class="progress-bar bg-danger" data-progress="{{ pourcentage_positifs|floatformat:0 }}" data-toggle="tooltip" title="Cas Confirmés : {{ pourcentage_positifs|floatformat:0  }}%"></div>
                                                                </div>
                                                            </div>
                                                            <ul class="nk-cov-wg1-data">
                                                                <li>
                                                                    <div class="title">
                                                                        <div class="dot dot-lg sq bg-primary"></div>
                                                                        <span>Cas Suspects</span>
                                                                    </div>
                                                                    <div class="count">{{ total_cas_suspects }}</div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <div class="dot dot-lg sq bg-danger"></div>
                                                                        <span>Cas confirmés</span>
                                                                    </div>
                                                                    <div class="count">{{ total_cas_positif }}</div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <div class="dot dot-lg sq bg-success"></div>
                                                                        <span>Guéris</span>
                                                                    </div>
                                                                    <div class="count">{{ total_gueri }}</div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <div class="dot dot-lg sq bg-dark"></div>
                                                                        <span>Décédés</span>
                                                                    </div>
                                                                    <div class="count">{{ total_decede|floatformat:0 }}</div>
                                                                </li>
                                                            </ul>
                                                            <div class="nk-cov-wg-note">Taux de  <a href="#">guerisons ({{ pourcentage_gueris_positifs|floatformat:2  }}%)</a> &amp; <a href="#">Décès ({{ pourcentage_decedes_positifs|floatformat:2 }}%)</a>.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- .col -->

                                            <div class="col-lg-6 col-xl-12">
                                        <div class="card card-bordered card-full">
                                            <div class="card-inner">
                                                <div class="card-title-group mb-1">
                                                    <div class="card-title">
                                                        <h6 class="title">Evolution des cas par période</h6>
                                                        <p>Quelques statistiques de l'évolution des cas</p>

                                                    </div>
                                                </div>

{#                                                    <div class="nk-ck-sm">#}
{#                                                            <canvas class="line-chart" id="straightLineChart"></canvas>#}
{#                                                        </div>#}
                                                    <div style="width: 100%; margin: auto;">
        <canvas id="evolutionLineChart"></canvas>
    </div>

                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                        </div><!-- .row -->
                                    </div><!-- .col -->
                                    <div class="col-xl-8">
                                        <div class="card card-bordered card-full">
                                            <div class="nk-cov-wg4">
                                                <div class="nk-cov-wg4-aside">
                                                    <div class="nk-cov-wg4-aside-head">
                                                        <h6 class="nk-cov-wg4-aside-title"> District Sanitaire</h6>
                                                        <div class="nk-cov-wg4-aside-action mr-n2">
                                                            <a href="#" class="btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-search"></em></a>
                                                        </div>
                                                        <div class="search-wrap" data-search="search">
                                                            <div class="search-content">
                                                                <a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                                                <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by Country">
                                                                <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                                            </div>
                                                        </div><!-- .search-wrap -->
                                                    </div>
                                                    <div class="nk-cov-wg4-aside-body" data-simplebar>
{% for region in cases_by_region %}
        <li>
            <span class="region-title" onclick="toggleDistricts('{{ region.commune__district__region__name|slugify }}')">
                {{ region.commune__district__region__name }} ({{ region.total|intcomma }} cas )
            </span>
            <!-- Liste des districts associés à cette région -->
            <ul class="district-list" id="{{ region.commune__district__region__name|slugify }}" style="display: none;">
                {% for district in cases_by_district %}
                    {% if district.commune__district__region__name == region.commune__district__region__name %}
                        <li>
                            <a class="nk-cov-wg4-list-item" href="#">
                                <span class="title">{{ district.commune__district__nom }}</span>
                                <span class="count">{{ district.total|intcomma }} cas </span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

<script>
function toggleDistricts(regionId) {
    const districtList = document.getElementById(regionId);
    if (districtList.style.display === "none") {
        districtList.style.display = "block";
    } else {
        districtList.style.display = "none";
    }
}
</script>


                                                    </div>
                                                    <div class="nk-cov-wg4-aside-foot text-center">
                                                        <a href="#" class="btn btn-round btn-outline-primary">Statistics des villes</a>
                                                    </div>
                                                </div>
                                                <div class="nk-cov-wg4-content">
                                                    <div class="nk-cov-wg4-map">
{#                                                        <button onclick="toggleFullScreen()">Plein écran</button>#}
                                                        <div id="map"></div>
                                                        <div class="dot dot-lg sq bg-orange"> </div> Patient positif mais en etat de suivi
                                                        <div class="dot dot-lg sq bg-dark ml-3"></div> Patient décedé
                                                        <div class="dot dot-lg sq bg-success ml-3"></div> Patient guéris
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->

                                 <div class="col-xl-4 col-md-6">
    <div class="card card-bordered card-full">
        <div class="card-inner">
            <div class="nk-cov-wg2">
                <div class="card-title">
                    <h5 class="title">Répartition des Taux par - <small>Genre</small></h5>
                </div>

                <div style="width: 50%; margin: auto;" >
                    <canvas id="genderPieChart"></canvas>

                </div>


            </div>

        </div>
    </div>
</div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card card-bordered card-full">
                                            <div class="card-inner mb-n2">
                                                <div class="card-title-group">
                                                    <div class="card-title mb-0">
                                                        <h6 class="title">Top 5 des Districts Sanitaire les Plus Affectés </h6>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="nk-tb-list is-medium nk-cov-wg5-table">
                                                <div class="nk-tb-item nk-tb-head">
                                                    <div class="nk-tb-col">Regions</div>
                                                    <div class="nk-tb-col text-right">Confirmés</div>
                                                    <div class="nk-tb-col text-right">Guéris</div>
                                                    <div class="nk-tb-col text-right">Décédés</div>
                                                </div>

                                                {% for district in top_districts %}

                                                    <div class="nk-tb-item">
                                                    <div class="nk-tb-col">
                                                        <div class="tb-country">
                                                            <img class="flag" src="./images/flags/us.png" alt="">
                                                            <div class="name">{{ district.nom }}</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-tb-col text-right">
                                                        <div class="tb-lead tb-amount">{{ district.num_echantillons }}</div>
                                                    </div>
                                                    <div class="nk-tb-col text-right">
                                                        <div class="tb-lead tb-amount">{{ district.num_gueris }}</div>
                                                    </div>
                                                    <div class="nk-tb-col text-right">
                                                        <div class="tb-lead tb-amount">{{ district.num_decedes }}</div>
                                                    </div>
                                                </div>
        {% empty %}
            <li>Aucun district sanitaire trouvé.</li>
        {% endfor %}



                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col-xl-4">
                                        <div class="card card-bordered card-full is-center-mb">
                                            <div class="card-inner">
                                                <div class="card-title mb-4">
                                                    <h6 class="title">Repartition du nombre de positifs par tranche d'age</h6>
                                                </div>

                                                <div class="nk-cov-newswg">
                                                    <table class="table">
    <thead>
        <tr>
            <th>Tranche d'âge</th>
            <th>Nombre de patients infectés</th>
            <th>Ratios</th>
        </tr>
    </thead>

    <tbody>
        {% for tranche, count, ratio in tranches_age %}
        <tr>
            <td style="text-align: left">{{ tranche }}</td>
            <td style="text-align: center">{{ count }}</td>
            <td class="text-danger" style="text-align: center">{{ ratio }} %</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>
                <!-- content @e -->

            </div>

            <!-- wrap @e -->
        </div>
        <!-- main @e -->

    </div>
  <!-- footer @s -->
                <div class="nk-footer ">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap gy-1 gx-4">
                            <div class="nk-footer-links">
                                <ul class="nav nav-sm">
                                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#covid-feedback">A propos</a></li>
                                    </ul>
                            </div>
                            <span><img src="{% static 'images/ivory-coast.png' %}" width="30"></span><span> République de Côte d'Ivoire</span>

                            <span>|</span>
                            <span>Ministère de la Santé de l'Hygiène Publique et de la Couverture Maladie Universelle</span><span> <img src="{% static 'images/logoMSHPCMU.svg' %}" width="30"></span>
                            <span>|</span>
                            <span>Système National de surveillance Épidémiologique </span>
                            <span>|</span>
                            <div class="nk-footer-copyright white"> &copy; Copyright 2024, <a href="#">afriqconsulting</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer @e -->
    <!-- app-root @e -->
    <!-- Modal About -->
    <div class="modal fade" tabindex="-1" id="covid-about">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
                <div class="modal-body">
                    <h5 class="title mb-3">About this data</h5>
                    <h6 class="lead-text text-primary">It changes rapidly</h6>
                    <p>This data changes rapidly, so what’s shown may be out of date. Table totals may not always represent an accurate sum. Information about reported cases is also available on the <a href="#">World Health Organization</a> & <a href="#">WorldoMeters.info</a> site.</p>
                    <h6 class="lead-text text-primary">It doesn’t include all cases</h6>
                    <p>Confirmed cases aren’t all cases. They only include people who tested positive. Testing rules and availability vary by country.</p>
                    <div class="note-text">Updated: March 27, 2020 12:30 (GMT +6)</div>
                </div>
                <div class="modal-footer bg-light justify-content-center py-1">
                    <div class="sub-text">Copyright by <a href="https://softnio.com">Softnio</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Feedback -->
    <div class="modal fade" tabindex="-1" id="covid-feedback">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="justify-between gx-5 mb-3">
                        <div>
                            <h6 class="modal-title text-primary">What kind of feedback do you have about this tool?</h6>
                        </div>
                        <div>
                            <a href="#" class="btn btn-icon btn-trigger mr-n2 mt-n1" data-dismiss="modal" aria-label="Close">
                                <em class="icon ni ni-cross"></em>
                            </a>
                        </div>
                    </div>
                    <ul class="btn-list-vr g-2">
                        <li>
                            <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#covid-feedback-form" class="btn btn-round btn-indc btn-lighter"><em class="icon text-primary ni ni-report"></em> <span>Report an issue</span><em class="indc icon ni ni-chevron-right"></em></a>
                        </li>
                        <li>
                            <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#covid-feedback-form" class="btn btn-round btn-indc btn-lighter"><em class="icon text-primary ni ni-bulb"></em> <span>Share an idea</span><em class="indc icon ni ni-chevron-right"></em></a>
                        </li>
                        <li>
                            <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#covid-feedback-form" class="btn btn-round btn-indc btn-lighter"><em class="icon text-primary ni ni-question-alt"></em> <span>Give a compliment</span><em class="indc icon ni ni-chevron-right"></em></a>
                        </li>
                        <li>
                            <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#covid-feedback-form" class="btn btn-round btn-indc btn-lighter"><em class="icon text-primary ni ni-policy"></em> <span>Legal or privacy concern</span><em class="indc icon ni ni-chevron-right"></em></a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer bg-light justify-content-center py-1">
                    <div class="sub-text">Copyright by <a href="https://softnio.com">Softnio</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Feedback Form -->
    <div class="modal fade" tabindex="-1" id="covid-feedback-form">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="justify-between gx-5 mb-1">
                        <div>
                            <h6 class="modal-title text-primary">Tell us about the issue</h6>
                        </div>
                        <div>
                            <a href="#" class="btn btn-icon btn-trigger mr-n2 mt-n1" data-dismiss="modal" aria-label="Close">
                                <em class="icon ni ni-cross"></em>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="modal-footer bg-light justify-content-center py-1">
                    <div class="sub-text">Copyright by <a href="https://softnio.com">Softnio</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="{% static 'assets/js/bundle.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
{#    <script src="{% static 'assets/js/libs/jqvmap.js' %}"></script>#}

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="https://unpkg.com/terraformer@1.0.7"></script>
    <script src="https://unpkg.com/terraformer-wkt-parser@1.1.2"></script>

    <script src="{% static 'assets/js/chart-covid.js' %}"></script>
    <script src="{% static 'assets/js/example-chart.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest"></script>
    <script>
        const ctx = document.getElementById('evolutionLineChart').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ monthly_data.months|safe }},
                datasets: [{
                    label: 'Nombre de Cas',
                    data: {{ monthly_data.cases|safe }},
                    backgroundColor: 'rgba(255,0,0,0.2)',
                    borderColor: 'rgb(255,0,22)',
                    borderWidth: 1,
                    fill: true
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Mois'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Nombre de Cas'
                        }
                    }
                },
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function (tooltipItem) {
                                return `Nombre de Cas: ${tooltipItem.raw}`;
                            }
                        }
                    }
                }
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
    const ctxGender = document.getElementById('genderPieChart').getContext('2d');

    new Chart(ctxGender, {
        type: 'pie',
        data: {
            labels: ['Masculin', 'Féminin'],
            datasets: [{
                label: 'Répartition par Genre',
                data: [{{ report_data.male_cases }}, {{ report_data.female_cases }}],
                backgroundColor: ['#36A2EB' ,'#FF6384' ],
                borderColor: ['#36A2EB' , '#FF6384'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function (tooltipItem) {
                            const dataset = tooltipItem.dataset;
                            const dataIndex = tooltipItem.dataIndex;
                            const value = dataset.data[dataIndex];
                            const total = dataset.data.reduce((sum, value) => sum + value, 0);
                            const percentage = ((value / total) * 100).toFixed(2);
                            return `${tooltipItem.label}: ${value} (${percentage}%)`;
                        }
                    }
                },
                datalabels: {
                    formatter: (value, ctx) => {
                        const dataset = ctx.chart.data.datasets[0];
                        const total = dataset.data.reduce((sum, value) => sum + value, 0);
                        const percentage = ((value / total) * 100).toFixed(2);
                        return `${value} (${percentage}%)`;
                    },
                    color: '#fff',
                }
            }
        }
    });
});
        // Diagramme circulaire des résultats des patients
        const ctxOutcome = document.getElementById('outcomePieChart').getContext('2d');
        new Chart(ctxOutcome, {
            type: 'pie',
            data: {
                labels: ['Guéris', 'Décédés', 'Non Guéris/Non Décédés'],
                datasets: [{
                    label: 'Résultat des Patients',
                    data: [{{ report_data.patients_gueris }}, {{ report_data.patients_decedes }}, {{ report_data.patients|add:report_data.total_patients_positifs|sub:report_data.patients_gueris|sub:report_data.patients_decedes }}],
                    backgroundColor: ['#4CAF50', '#FF5722', '#FFC107'],
                    borderColor: ['#4CAF50', '#FF5722', '#FFC107'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function (tooltipItem) {
                                let label = tooltipItem.label || '';
                                let value = tooltipItem.raw || 0;
                                return `${label}: ${value}`;
                            }
                        }
                    }
                }
            }
        });

        // Diagramme circulaire des échantillons positifs et négatifs
        const ctxSampleOutcome = document.getElementById('sampleOutcomePieChart').getContext('2d');
        new Chart(ctxSampleOutcome, {
            type: 'pie',
            data: {
                labels: ['Positifs', 'Négatifs'],
                datasets: [{
                    label: 'Échantillons',
                    data: [{{ report_data.echantillons_nbrP }}, {{ report_data.echantillons_nbr|sub:report_data.echantillons_nbrP }}],
                    backgroundColor: ['#36A2EB', '#FFCE56'],
                    borderColor: ['#36A2EB', '#FFCE56'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function (tooltipItem) {
                                let label = tooltipItem.label || '';
                                let value = tooltipItem.raw || 0;
                                return `${label}: ${value}`;
                            }
                        }
                    }
                }
            }
        });


    </script>
    <script>
    const ctx = document.getElementById('ageTrancheChart').getContext('2d');
    const ageTrancheChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: Object.keys({{ tranches_age|safe }}),
            datasets: [{
                label: 'Nombre de patients infectés',
                data: Object.values({{ tranches_age|safe }}),
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>



    <script>
        var coteDIvoireBounds = [
            [4.35, -8.60], // Sud-Ouest (Point le plus au sud)
            [10.73, -2.51] // Nord-Est (Point le plus au nord)
        ];

        var epidemieId = '{{ epidemie_id }}'; // ID de l'épidémie
        var epidemieNom = '{{ epidemie_nom }}'; // Nom de l'épidémie

        var map = L.map('map', {
            maxBounds: coteDIvoireBounds, // Définir les limites maximales
            maxBoundsViscosity: 1.0, // Contrôle la "viscosité" des bords
            minZoom: 7 // Définir le zoom minimum
        }).setView([7.54, -5.55], 7);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="https://www.afriqconsulting.com">AfriqConsulting</a> EPIDEMITRACKER'
        }).addTo(map);

        var markers = L.markerClusterGroup(); // Initialiser le groupe de clusters pour les marqueurs

        function getMarkerColor(patient) {
            if (patient.decede) {
                return 'black'; // Décédé
            } else if (patient.gueris) {
                return 'green'; // Guéri
            } else if (patient.echantillons && patient.echantillons.some(e => e.resultat === true)) {
                return 'red'; // Positif
            } else {
                return 'orange'; // Autres
            }
        }

        let markers_points = [];

        function addMarker(patient) {
            if (patient.commune && patient.commune.geom) {
                try {
                    var cleanedWKT = patient.commune.geom.replace(/^SRID=\d+;/, '');
                    var geoJSON = Terraformer.WKT.parse(cleanedWKT);
                    var centroid = L.geoJSON(geoJSON).getBounds().getCenter();

                    var markerColor = getMarkerColor(patient);

                    var myIcon = L.divIcon({
                        className: 'custom-div-icon',
                        html: `<div class='circle-marker' style='background-color: ${markerColor};'></div>`, // Couleur basée sur le statut
                        iconSize: [30, 30],
                        iconAnchor: [15, 15]
                    });

                    var age = patient.date_naissance ? calculateAge(patient.date_naissance) : 'Inconnu';

                    var marker = L.marker(centroid, {icon: myIcon})
                        .bindPopup(` Localité : ${patient.commune.name}<br> <b>Code Patient : ${patient.code_patient}</b><br>Âge: ${age} ans <br>Sexe: ${patient.genre || 'Inconnu'}<br>Statut: ${patient.status || 'Inconnu'}`)
                        .on('mouseover', function () {
                            this.bindTooltip(` Localité : ${patient.commune.name}<br> Code Patient :${patient.code_patient}<br>Âge: ${age} ans<br>Sexe: ${patient.genre || 'Inconnu'}<br>Statut: ${patient.status || 'Inconnu'}`, {
                                direction: 'top',
                                offset: [0, -10],
                                opacity: 0.8
                            }).openTooltip();
                        })
                        .on('mouseout', function () {
                            this.closeTooltip();
                        });

                    markers.addLayer(marker);

                } catch (error) {
                    console.error(`Erreur lors de l'analyse GeoJSON pour le patient : ${patient.nom} ${patient.prenoms}`, error);
                }
            } else {
                console.error(`Données de localisation invalides pour le patient : ${patient.nom} ${patient.prenoms}`);
            }
        }

        function calculateAge(date_naissance) {
            var today = new Date();
            var birthDate = new Date(date_naissance);
            var age = today.getFullYear() - birthDate.getFullYear();
            var monthDifference = today.getMonth() - birthDate.getMonth();
            if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
        }

        let patientgroup = L.layerGroup();
        let district = L.layerGroup(); // Groupement des polygones des districts
        var geoLayer = L.geoJSON().addTo(district);

        // Style par défaut pour les polygones
        var myStyle = {
            color: "red",
            weight: 1,
            opacity: 0.80,
            fillColor: '#FF6347'
        };

        geoLayer.setStyle(myStyle);

        // Récupération des données de synthèse des districts et ajout à la carte
        fetch("/epidemie/api/synthese-district/?maladie_id={{ epidemie_id }}")
            .then(response => response.json())
            .then(synthese => {
                console.log(synthese);
                synthese.forEach((s) => {
                    console.log(s.district_geojson);
                    L.geoJSON(s.district_geojson, {
                        style: {
                            color: "#ff0014",
                            weight: 1,
                            opacity: 1
                        }
                    }).bindPopup(`District: ${s.nom_district} <br> Cas suspect: ${s.nbre_cas_suspects} <br> Cas positifs : ${s.cas_positif} <br> Cas Négatifs : ${s.cas_negatif}`)
                        .addTo(district);
                });

                map.addLayer(district); // Ajouter les districts par défaut
            })
            .catch(error => console.error('Erreur lors de la récupération des données des districts :', error));

        // Récupération des données des patients positifs en utilisant l'ID de l'épidémie
        fetch(`/epidemie/api/patient/?epidemie_id=${epidemieId}`)
            .then(response => response.json())
            .then(patients => {
                var regions = {};

                patients.forEach(patient => {
                    var regionName = patient.commune && patient.commune.district && patient.commune.district.region ? patient.commune.district.region.name : 'Inconnu';
                    var districtName = patient.commune && patient.commune.district ? patient.commune.district.nom : 'Inconnu';
                    var communeName = patient.commune ? patient.commune.name : 'Inconnu';

                    if (!regions[regionName]) {
                        regions[regionName] = {
                            name: regionName,
                            districts: {}
                        };
                    }

                    if (!regions[regionName].districts[districtName]) {
                        regions[regionName].districts[districtName] = {
                            name: districtName,
                            communes: {}
                        };
                    }

                    if (!regions[regionName].districts[districtName].communes[communeName]) {
                        regions[regionName].districts[districtName].communes[communeName] = {
                            name: communeName,
                            patients: []
                        };
                    }

                    regions[regionName].districts[districtName].communes[communeName].patients.push(patient);
                });

                Object.values(regions).forEach(region => {
                    Object.values(region.districts).forEach(district => {
                        Object.values(district.communes).forEach(commune => {
                            commune.patients.forEach(patient => {
                                addMarker(patient);
                            });
                        });
                    });
                });

                map.addLayer(markers); // Ajouter les marqueurs au cluster group
                patientgroup.addLayer(markers);
            })
            .catch(error => console.error('Erreur lors de la récupération des données des patients :', error));

        map.addLayer(district); // Afficher les districts par défaut
        map.addLayer(patientgroup);

        var overlayMaps = {
            "District": district,
            "Patients": patientgroup
        };

        var layerControl = L.control.layers(overlayMaps).addTo(map);

    </script>

    <style>
        /* Style pour le marqueur circulaire */
        .circle-marker {
            width: 20px;
            height: 20px;
            background-color: red;
            border-radius: 50%;
            border: 3px dashed white;
            animation: dash 2s linear infinite;
        }

        /* Animation des bordures en pointillés */
        @keyframes dash {
            0% {
                border-style: dashed;
                border-width: 3px;
            }
            50% {
                border-style: dashed;
                border-width: 3px;
                transform: rotate(180deg);
            }
            100% {
                border-style: dashed;
                border-width: 3px;
                transform: rotate(360deg);
            }
        }
    </style>

</body>

</html>