{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@@page-discription">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images/logoMSHPCMU.svg' %}">
    <!-- Page Title  -->
    <title>Dengue Situation Tracker & Dashboard</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css">
    <style>
        #map {
            width: 100%;
            height: 600px;
        }
    </style>
</head>
<style>

    .image-container {
    position: relative;
    text-align: center;
    margin-top: -100px; /* Ajuster selon le décalage souhaité */
    z-index: 1;
}

.dengue-image {
    width: 100px;
    position: relative;
    z-index: 2;
    margin-bottom: -50px; /* Pour que l'image déborde partiellement */
}

.card {
    position: relative;
    z-index: 0;
    overflow: visible; /* Permettre à l'image de déborder du cadre */
}
</style>
<body class="nk-body npc-covid has-sidebar has-sidebar-short ui-clean ui-rounder">
    <div class="nk-app-root">

        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->

             <!-- sidebar @e -->
            <!-- wrap @s -->

            <div class="nk-wrap ">
                <!-- main header @s -->

                <div class="nk-header nk-header-fluid nk-header-fixed nk-header-onlymobile is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-header-brand">
                                <a href="{% url 'landing' %}" class="logo-link">
                                    <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
                                    <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                                </a>
                            </div>
                            <div class="nk-menu-trigger ml-auto mr-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main header @e -->
         {% include 'global/layouts/navhead.html' %}
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="mb-20">
                                    <div class="">
                                        <h5 class="" style="text-align: center"> <span class="m-20"><img class="flex mr-20" src="{% static 'images/logoMSHPCMU.svg' %}" width="50"></span> Epidemie Tracker & Dashboard <img class="flex ml-20" src="{% static 'images/logoCI.png' %}" width="50">  </h5>
                                    </div>

                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="row g-gs">

                                    <div class="col-xl-12">
                                        <div class="card card-bordered card-full">
                                            <div class="nk-cov-wg4">

                                                <div class="nk-cov-content">

                                                  <div class="row p-5">
{% with list_epidemie.count as count %}
    {% for maladie in list_epidemie %}
    <div class="{% if count <= 4 %}col-xl-6{% else %}col-xl-3{% endif %} mb-5">
        <div class="card card-bordered">
            <div class="card-header border-bottom">{{ maladie.nom }}
                <span class="float-right">
                    <span class="badge badge-danger">{{ maladie.nombre_patients_positifs_ce_mois }}</span> Cas
                </span>
            </div>
            <div class="image-container">
                <img src="{{ maladie.thumbnails.url }}" alt="{{ maladie.nom }} Image" class="dengue-image">
            </div>
            <div class="card-body">
                <p class="card-text mt-5">{{ maladie.description|truncatechars:80|safe }}</p>
                <ul>
                    <li>Personnes Confirmées
                        <span class="badge badge-gray float-right">{{ maladie.personnes_touchees }}</span>
                    </li>
                    <li>Personnes Décédées
                        <span class="badge badge-gray float-right">{{ maladie.personnes_decedees }}</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer border-top text-muted text-right">
                <a href="{% url 'epidemie-detail' maladie.pk %}" class="btn btn-muted text-muted">Parcourir</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Aucune Maladie Enregistrée pour l'Instant</p>
    {% endfor %}
{% endwith %}


                                                      </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .col -->

                                </div><!-- .row -->
                            </div>
                        
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                <div class="nk-footer d-md-none">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap gy-1 gx-4">
                            <div class="nk-footer-links">
                                <ul class="nav nav-sm">
                                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#covid-feedback">Feedback</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#covid-about">About Data</a></li>
                                </ul>
                            </div>
                            <div class="nk-footer-copyright"> &copy; Copyright 2020, <a href="#">Softnio</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- Modal About -->
    <div class="modal fade" tabindex="-1" id="covid-about">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
                <div class="modal-body">
                    <h5 class="title mb-3">About this data</h5>
                    <h6 class="lead-text text-primary">It changes rapidly</h6>
                    <p>This data changes rapidly, so what’s shown may be out of date. Table totals may not always represent an accurate sum. Information about reported cases is also available on the <a href="#">World Health Organization</a> & <a href="#">WorldoMeters.info</a> site.</p>
                    <h6 class="lead-text text-primary">It doesn’t include all cases</h6>
                    <p>Confirmed cases aren’t all cases. They only include people who tested positive. Testing rules and availability vary by country.</p>
                    <div class="note-text">Updated: March 27, 2020 12:30 (GMT +6)</div>
                </div>
                <div class="modal-footer bg-light justify-content-center py-1">
                    <div class="sub-text">Copyright by <a href="https://softnio.com">Softnio</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Feedback -->
    <div class="modal fade" tabindex="-1" id="covid-feedback">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="justify-between gx-5 mb-3">
                        <div>
                            <h6 class="modal-title text-primary">What kind of feedback do you have about this tool?</h6>
                        </div>
                        <div>
                            <a href="#" class="btn btn-icon btn-trigger mr-n2 mt-n1" data-dismiss="modal" aria-label="Close">
                                <em class="icon ni ni-cross"></em>
                            </a>
                        </div>
                    </div>
                    <ul class="btn-list-vr g-2">
                        <li>
                            <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#covid-feedback-form" class="btn btn-round btn-indc btn-lighter"><em class="icon text-primary ni ni-report"></em> <span>Report an issue</span><em class="indc icon ni ni-chevron-right"></em></a>
                        </li>
                        <li>
                            <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#covid-feedback-form" class="btn btn-round btn-indc btn-lighter"><em class="icon text-primary ni ni-bulb"></em> <span>Share an idea</span><em class="indc icon ni ni-chevron-right"></em></a>
                        </li>
                        <li>
                            <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#covid-feedback-form" class="btn btn-round btn-indc btn-lighter"><em class="icon text-primary ni ni-question-alt"></em> <span>Give a compliment</span><em class="indc icon ni ni-chevron-right"></em></a>
                        </li>
                        <li>
                            <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#covid-feedback-form" class="btn btn-round btn-indc btn-lighter"><em class="icon text-primary ni ni-policy"></em> <span>Legal or privacy concern</span><em class="indc icon ni ni-chevron-right"></em></a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer bg-light justify-content-center py-1">
                    <div class="sub-text">Copyright by <a href="https://softnio.com">Softnio</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Feedback Form -->
    <div class="modal fade" tabindex="-1" id="covid-feedback-form">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="justify-between gx-5 mb-1">
                        <div>
                            <h6 class="modal-title text-primary">Tell us about the issue</h6>
                        </div>
                        <div>
                            <a href="#" class="btn btn-icon btn-trigger mr-n2 mt-n1" data-dismiss="modal" aria-label="Close">
                                <em class="icon ni ni-cross"></em>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="modal-footer bg-light justify-content-center py-1">
                    <div class="sub-text">Copyright by <a href="https://softnio.com">Softnio</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="{% static 'assets/js/bundle.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script src="{% static 'assets/js/libs/jqvmap.js' %}"></script>
    <script src="{% static 'assets/js/chart-covid.js' %}"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>


    <script src="https://unpkg.com/terraformer@1.0.7"></script>
    <script src="https://unpkg.com/terraformer-wkt-parser@1.1.2"></script>



{#    <script>#}
{#        var map = L.map('map').setView([7.54, -5.55], 7);#}
{##}
{#        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {#}
{#            maxZoom: 18,#}
{#            attribution: '&copy; <a href="https://www.afriqconsulting.com">AfriqConsulting</a> EPIDEMITRACKER'#}
{#        }).addTo(map);#}
{##}
{#        // Affichage des patients dont les échantillons sont positifs#}
{#        fetch('dingue/api/patient/')#}
{#            .then(response => response.json())#}
{#            .then(patients => {#}
{#                patients.forEach(patient => {#}
{#                    if (patient.commune) {#}
{#                        // Si patient.commune est un objet, utilisez patient.commune.id#}
{#                        var communeId = typeof patient.commune === 'object' ? patient.commune.id : patient.commune;#}
{#                        fetch(`dingue/api/commune/${communeId}/`)#}
{#                            .then(response => {#}
{#                                console.log(`URL de l'API utilisée: dingue/api/commune/${communeId}/`);#}
{#                                if (!response.ok) {#}
{#                                    throw new Error(`HTTP error! status: ${response.status}`);#}
{#                                }#}
{#                                return response.json();#}
{#                            })#}
{#                            .then(commune => {#}
{#                                if (commune.geom) {#}
{#                                    try {#}
{#                                        var cleanedWKT = commune.geom.replace(/^SRID=\d+;/, '');#}
{#                                        var geoJSON = Terraformer.WKT.parse(cleanedWKT);#}
{#                                        L.geoJSON(geoJSON).addTo(map);#}
{##}
{#                                        // Trouver le centre du GeoJSON pour y placer un marqueur#}
{#                                        var centroid = L.geoJSON(geoJSON).getBounds().getCenter();#}
{##}
{#                                        // Créer un DivIcon avec un style personnalisé#}
{#                                        var myIcon = L.divIcon({#}
{#                                            className: 'custom-div-icon',#}
{#                                            html: "<div class='circle-marker'></div>",#}
{#                                            iconSize: [30, 30],#}
{#                                            iconAnchor: [15, 15]#}
{#                                        });#}
{##}
{#                                        // Ajouter le marqueur avec le DivIcon personnalisé#}
{#                                        L.marker(centroid, {icon: myIcon}).addTo(map)#}
{#                                            .bindPopup(`<b>${patient.nom} ${patient.prenoms}</b><br>${patient.groupe_sanguin} - ${patient.status}`)#}
{#                                            .openPopup();#}
{##}
{#                                    } catch (error) {#}
{#                                        console.error(`Erreur lors de l'analyse GeoJSON pour la commune : ${commune.name}`, error);#}
{#                                    }#}
{#                                } else {#}
{#                                    console.error(`Données de localisation invalides pour la commune : ${commune.name}`);#}
{#                                }#}
{#                            })#}
{#                            .catch(error => console.error(`Erreur lors de la récupération des données de la commune pour ${JSON.stringify(patient.commune)} :`, error));#}
{#                    }#}
{#                });#}
{#            })#}
{#            .catch(error => console.error('Erreur lors de la récupération des patients :', error));#}
{##}
{#    </script>#}

    {% comment %}<script>
        var map = L.map('map').setView([7.54, -5.55], 7);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="https://www.afriqconsulting.com">AfriqConsulting</a> EPIDEMITRACKER'
        }).addTo(map);

        fetch('dingue/api/epidemiccases/')
            .then(response => response.json())
            .then(cases => {
                cases.forEach(c => {
                    fetch(`dingue/api/cities/${c.city}/`)
                        .then(response => response.json())
                        .then(city => {
                            if (city.geom) {
                                try {
                                    var cleanedWKT = city.geom.replace(/^SRID=\d+;/, '');
                                    var geoJSON = Terraformer.WKT.parse(cleanedWKT);
                                    L.geoJSON(geoJSON).addTo(map);

                                    // Trouver le centre du GeoJSON pour y placer un marqueur
                                    var centroid = L.geoJSON(geoJSON).getBounds().getCenter();

                                    // Créer un DivIcon avec un style personnalisé
                                    var myIcon = L.divIcon({
                                        className: 'custom-div-icon',
                                        html: "<div class='circle-marker'></div>",
                                        iconSize: [30, 30],
                                        iconAnchor: [15, 15]
                                    });

                                    // Ajouter le marqueur avec le DivIcon personnalisé
                                    L.marker(centroid, {icon: myIcon}).addTo(map)
                                        .bindPopup(`<b>${city.name}</b><br>${c.disease_name}: ${c.num_cases} cas`)
                                        .openPopup();

                                } catch (error) {
                                    console.error(`Erreur lors de l'analyse GeoJSON pour la ville : ${city.name}`, error);
                                }
                            } else {
                                console.error(`Données de localisation invalides pour la ville : ${city.name}`);
                            }
                        })
                        .catch(error => console.error(`Erreur lors de la récupération des données de la ville pour ${c.city} :`, error));
                });
            })
            .catch(error => console.error('Erreur lors de la récupération des cas épidémiques :', error));
        // Affichage des services sanitaires
        fetch('dingue/api/service_sanitaire/')
            .then(response => response.json())
            .then(services => {
                services.forEach(service => {
                    var cleanedWKT = service.geom.replace(/^SRID=\d+;POINT \(/, '').replace(/\)$/, '');
                    var coords = cleanedWKT.split(' ').map(Number);
                    if (coords.length === 2) {
                        var point = L.latLng(coords[1], coords[0]);

                        var hospitalIcon = L.icon({
                            iconUrl: 'static/images/hopital2.png',
                            iconSize: [32, 37],
                            iconAnchor: [16, 37],
                            popupAnchor: [0, -28]
                        });

                        L.marker(point, {icon: hospitalIcon}).addTo(map)
                            .bindPopup(`<b>${service.nom}</b><br>${service.type}`)
                            .openPopup();
                    } else {
                        console.error(`Coordonnées invalides pour le service sanitaire : ${service.nom}`);
                    }
                });
            })
            .catch(error => console.error('Erreur lors de la récupération des services sanitaires :', error));
        // Affichage des patiens


        // Affichage des patients dont les échantillons sont positifs
      fetch('dingue/api/patient/')
    .then(response => response.json())
    .then(patients => {
        patients.forEach(patient => {
            if (patient.commune) {
                // Si patient.commune est un objet, utilisez patient.commune.id
                var communeId = typeof patient.commune === 'object' ? patient.commune.id : patient.commune;
                fetch(`dingue/api/commune/${communeId}/`)
                    .then(response => {
                        console.log(`URL de l'API utilisée: dingue/api/commune/${communeId}/`);
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(commune => {
                        if (commune.geom) {
                            try {
                                var cleanedWKT = commune.geom.replace(/^SRID=\d+;/, '');
                                var geoJSON = Terraformer.WKT.parse(cleanedWKT);
                                L.geoJSON(geoJSON).addTo(map);

                                // Trouver le centre du GeoJSON pour y placer un marqueur
                                var centroid = L.geoJSON(geoJSON).getBounds().getCenter();

                                // Créer un DivIcon avec un style personnalisé
                                var myIcon = L.divIcon({
                                    className: 'custom-div-icon',
                                    html: "<div class='circle-marker'></div>",
                                    iconSize: [30, 30],
                                    iconAnchor: [15, 15]
                                });

                                // Ajouter le marqueur avec le DivIcon personnalisé
                                L.marker(centroid, {icon: myIcon}).addTo(map)
                                    .bindPopup(`<b>${patient.nom} ${patient.prenoms}</b><br>${patient.groupe_sanguin} - ${patient.status}`)
                                    .openPopup();

                            } catch (error) {
                                console.error(`Erreur lors de l'analyse GeoJSON pour la commune : ${commune.name}`, error);
                            }
                        } else {
                            console.error(`Données de localisation invalides pour la commune : ${commune.name}`);
                        }
                    })
                    .catch(error => console.error(`Erreur lors de la récupération des données de la commune pour ${JSON.stringify(patient.commune)} :`, error));
            }
        });
    })
    .catch(error => console.error('Erreur lors de la récupération des patients :', error));

    </script>{% endcomment %}
    <style>
        /* Style pour le marqueur circulaire */
        .circle-marker {
            width: 20px;
            height: 20px;
            background-color: red;
            border-radius: 50%;
            border: 3px dashed white;
            animation: dash 2s linear infinite;
        }

        /* Animation des bordures en pointillés */
        @keyframes dash {
            0% {
                border-style: dashed;
                border-width: 3px;
            }
            50% {
                border-style: dashed;
                border-width: 3px;
                transform: rotate(180deg);
            }
            100% {
                border-style: dashed;
                border-width: 3px;
                transform: rotate(360deg);
            }
        }
    </style>

</body>

</html>