  <div class="nk-sidebar-footer d-none d-md-block">
                                <ul class="nk-menu short-menu">
{#                                    <li class="nk-menu-item">#}
{#                                        <a href="#" data-toggle="modal" data-target="#covid-feedback" class="nk-menu-link">#}
{#                                            <span class="nk-menu-icon"><em class="icon ni ni-chat-fill"></em></span>#}
{#                                            <span class="nk-menu-text">Feedback</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="nk-menu-item">#}
{#                                        <a href="#" data-toggle="modal" data-target="#covid-about" class="nk-menu-link">#}
{#                                            <span class="nk-menu-icon"><em class="icon ni ni-info-fill"></em></span>#}
{#                                            <span class="nk-menu-text">About Data</span>#}
{#                                        </a>#}
{#                                    </li>#}
                                </ul><!-- .nk-menu -->
                            </div><!-- .nk-sidebar-footer -->