<style>
    .typewriter {
        display: inline-block;
        overflow: hidden;
        border-right: 0.15em solid orange; /* Barre clignotante */
        white-space: nowrap;
        margin: 0 auto;
        animation: blink-caret 0.75s step-end infinite;
        font-family: 'Arial', "Arial Narrow", monospace; /* Effet machine à écrire */
        font-size: 1.2em;
        color: #333; /* Couleur du texte */
    }

    .text-link {
        text-decoration: none;
        color: #007bff; /* Couleur du lien */
        transition: color 0.3s;
    }

    .text-link:hover {
        color: #0056b3; /* Couleur du lien au survol */
    }

    @keyframes blink-caret {
        from, to {
            border-color: transparent;
        }
        50% {
            border-color: orange;
        }
    }
</style>

<div class="typewriter">
    <a href="#" id="text-display" class="text-link"><i class="fa fa-bell"></i></a>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const messages = [
        {% for message in messages %}
            {
                title: `{{ message.titre|escapejs }}`,
                message: `{{ message.message|striptags|truncatechars:120|escapejs }}`,
                url: `{% url 'infos-detail' message.pk %}`
            },
        {% empty %}
            {
                title: "Aucune information disponible.",
                message: "",
                url: "#"
            }
        {% endfor %}
    ];

    let currentIndex = 0;
    const textDisplay = document.getElementById('text-display');

    function typeEffect(msg, index = 0) {
        if (index < msg.message.length) {
            textDisplay.textContent += msg.message[index];
            setTimeout(() => typeEffect(msg, index + 1), 50); // Vitesse de frappe
        } else {
            // Ajout de l'icône et du lien
            textDisplay.innerHTML += ' <em class="icon ni ni-external"></em>';
            textDisplay.setAttribute('href', msg.url);
            textDisplay.setAttribute('title', msg.title); // Info-bulle = titre

            setTimeout(() => {
                textDisplay.textContent = '';
                currentIndex = (currentIndex + 1) % messages.length;
                typeEffect(messages[currentIndex], 0);
            }, 5000);
        }
    }

    if (messages.length > 0) {
        typeEffect(messages[currentIndex], 0);
    }
});
</script>